body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E7F5F7;
}

h1 {
  color: #333;
  margin-top: 20px;
  font-size: 28px;
  text-align: center;
}

.animals-hero {
  text-align: center;
  padding: 20px 20px 10px;
}

.animals-title {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.animals-controls {
  text-align: center;
  margin-bottom: 10px;
}

.animal-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  padding: 0 20px;
}

.animal-filters input,
.animal-filters select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

#animal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.animal-item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 20px;
  width: 300px;
  height: 420px; /* фиксированная высота */
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.animal-item:hover {
  transform: translateY(-5px);
}

.animal-item img {
  max-width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Адаптивность */
@media (max-width: 1023px) {
  .animal-item {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .animal-item {
    width: 100%;
  }
}
.animal-item h3 {
  margin: 10px 0 5px;
  font-size: 20px;
  color: #333;
}

.animal-item p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.animal-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.animal-actions button {
  background-color: #ff6200;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.animal-actions button:hover {
  background-color: #e65c00;
}

.main-button {
  padding: 10px 20px;
  background-color: #ff6200;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.main-button:hover {
  background-color: #e65c00;
}

@media (max-width: 768px) {
  .animal-filters {
    flex-direction: column;
    align-items: center;
  }

  .animal-item {
    width: 90%;
  }
}

