<nav style="background: #ff6200; padding: 15px; text-align: center; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
  <a href="/pages/index.html" style="margin-right: 20px; text-decoration: none; color: white; font-weight: bold;">Главная</a>
  <a href="/pages/animals.html" style="margin-right: 20px; text-decoration: none; color: white; font-weight: bold;">Животные</a>
  <a href="/pages/about.html" style="margin-right: 20px; text-decoration: none; color: white; font-weight: bold;">О нас</a>
  <a href="/pages/login.html" style="margin-right: 20px; text-decoration: none; color: white; font-weight: bold;">Вход</a>
</nav>